<footer>
  <hr />
  <div class="container text-center">
    <address>
      <p>Gamezonia 2021</p>
      <p>
        Gilba Zubia, 20590 - Soraluze <br />
        Telf: 555-55-555 <br />
        Contact: test@gmail.com
      </p>
    </address>
    <ul class="nav justify-content-center social">
      <li>
        <a href="#">
          <img src="/assets/img/icons/youtube.png" alt="youtubeicon" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/img/icons/facebook.png" alt="facebook" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/img/icons/twitter.png" alt="twitter" />
        </a>
      </li>
    </ul>
  </div>
</footer>
